# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=ims_db

# Environment Setting (development or production)
# In production, errors won't be displayed to users
APP_ENV=development
